/* ----- GLOBAL ----- */
body{
  background-color: ghostwhite;
}

h1{
  border-bottom: 2px solid #000;
  width: 98%;
  margin: auto;
  margin-top: 1.5%;
}

/* -------------------------------------------------- HOME PAGE STYLE --------------------------------------------- */

header #language form input[type=image]{
  margin-left: 5px;
  float: right;
}

h2 {
  width: 98%;
  margin: auto;
  margin-top: 10px;
}

h3{
  margin: 10px;
  width: 95%;
  margin-left: 20px;
  font-style: italic;
  padding-bottom: 3px;
  border-bottom: 3px solid gray;
}

p.home{
  margin: auto;
  margin-left: 1.25%;
  margin-right: 2%;
  border-left: 3px solid rgb(88, 88, 88);
}

/* --------------------------------------------- END (FOOTER) PAGE STYLE ------------------------------------------- */

footer {
  margin-top: 125px;
	background: #363636;
	padding-top: 30px;
	padding-bottom: 18px;
	color: #b6aa91;
}

  footer p, footer a {
    display:block;
    text-align: center;
    margin: 0;
    font-size: 15px;
    margin-bottom: 15px;
  }
    footer p:hover, footer a:hover {
      color: white;
    }

    footer a{
      color: #b6aa91;
      margin-bottom: 0px;
    }

/* -------------------------------------------- MAIN NAVIGATION BAR STYLE ------------------------------------------ */

ul.selectPage {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #363636;
}
  
  ul.selectPage li {
    float: left;
  }

    ul.selectPage li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }

      ul.selectPage li a:hover {
        background-color: #111111;
        font-weight: bolder;
        padding: 13px;
      }

/* --------------------------------------------------- NAMEDAY STYLE ---------------------------------------------- */

p{
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

p.error{
  width: 96%;
  margin: auto;
  margin-top: 10px;
  background-color: #da18184d;
  border: 2px solid #a500089d;

}
p.warning{
  height: 13px; 
  position: fixed; 
  bottom: 0%;
  width: 97.35%; 
  background-color: #ffd000; 
  opacity: 1;
}

p.todayNameday{
  font-style: italic;
  margin:auto;
  margin-left: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* ----- Table ----- */

#nameday table {
  margin-top: 12px;
  border-collapse: collapse;
  width: 98%;
  margin-left:auto; 
  margin-right:auto;
}

  #nameday tbody tr td {
    text-align: left;
    padding: 8px;
  }

  #nameday thead tr th{
    background-color: rgba(38, 113, 199, 0.75);
    color: white;
    text-align: left;
    padding: 8px;
  }

    #nameday tbody tr:nth-child(even){
      background-color: #4571aa59;
    }

      #nameday tbody tr:nth-child(odd):hover{
        background-color: #98b7ff4f;
      }

      #nameday tbody tr:nth-child(even):hover{
        background-color: #354f8a86;
      }

/* ----- Form ----- */

form label{
  display: block;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 110%;
}

form input[type=number], input[type=text] {
  width: 15%;
  padding: 8px 12px;
  margin: 8px 5px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

  form input[type=number]:focus, input[type=text]:focus {
    border: 3px solid #555;
  }

form input[type=submit], form input[type=button].mainButton {
  width: 15%;
  background-color: rgb(76, 127, 175);
  border: none;
  color: white;
  margin: 10px 5px;
  margin-bottom: 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
}
form input[type=button].mainButton{
  display: inline-block;
}

  form input[type=submit]:active, form input[type=button]:active.mainButton {
    background-color: rgb(60, 135, 200);
  }
  form input[type=submit]:hover, form input[type=button]:hover.mainButton {
    color: rgb(220, 220, 255)
  }


/* ----------------------------------------------------------- LORINC PAGE STYLE ---------------------------------------------------- */

p.incomeStr {
  display: inline;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-color: #3f3f3f;
}

p.income{
  width: 15%;
  margin-left:20px;
  border: 1px solid #3f3f3f;
  border-radius: 5px;
}

/* ----------------------------------------------------------- LIFETIME PAGE STYLE ---------------------------------------------------- */

h2.resultAge{
  font-size: 110%;
  margin-left: 1.5%;
}

ul.time{
  width: 20%;
  background: rgba(17, 57, 187, 0.3);
  padding: 5px;
  padding-left: 15px;
  border-radius: 15px;
  margin-left: 2%;
}

  ul.time li{
    background: rgba(17, 57, 187, 0.22);
    list-style-type: circle;
    margin: 5px;
    margin-left: 10px;
    border: 1px solid rgb(8, 14, 61);
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;
  }
  
    ul.time li:hover{
      background-color: rgb(20, 45, 100);
      color: white;
      list-style-type: disc;
      font-weight: bold;
    }


/* -------------------------------------------------------------- KKI ---------------------------------------------------------- */

#KKI_input{
  margin-top: 2%;
}

  #KKI_input input[type=button]{
    margin-bottom: 3%;
    font-size: 16px;
    font-weight: 800;
    padding: 6px 10px 6px 10px;
    background-color: rgb(40, 100, 200);
    border: none;
    color: rgb(240 240 240);
    
  }
    #KKI_input input[type=button]:active{
      color: white;
      background-color: cornflowerblue;
    }

  #KKI_input input[type=number]{
    margin-right: 5%;
  }

  form input[type=file]{
    size: 50px;
    margin: 10px 55% 3px 7px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
  }
  
  #KKI_input label{
    display: inline;
    color: #333;
  }
  #KKI_input label.subj{
    display: inline-block;
  }
  #KKI_input input[type=text].subject{
    display: inline;
  }

  #alignPosition{
    padding: 0px 10px 0px 0px;
    border: 0px;
    margin: 0px;
    margin-right: 78%;
    float: right;
  }

  p#resultCredit, p#resultWeightedAvg, p#resultKKI {
    margin-left: 12px;
    font-style: italic;
    border-style: none;
    border-bottom-style: dotted;
    border-bottom-color: #888;
    width: 20%;
  }
